@import "~src/styles.sass"
#container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
#trainweb
  font-weight: 600
  padding-top: 1.5%
  color: $secondary
  font-size: 30px
#slogan
  font-weight: 600
  color: $secondary
  font-size: 25px

#filters
  position : relative
  display: flex
  justify-content: center
  align-items : center
  flex-direction: row
#recherche
  margin-top: 1.5%
  padding: 1%
  color: #565656
  background-color: $tertiary
  font-size: 20px
  border-radius: 28px
  border: none
  cursor: pointer
  text-decoration: none
  input
    border: none
    border-radius: 28px
    outline: none
    background-color: $tertiary
  button
    background-color: $tertiary
    border-radius: 28px
    border: none
    cursor: pointer
#icons
  position: absolute
  right: calc(4vw + 8%)
  top: 0
  display: flex
  justify-content: right
  padding: 2%
  button
    background-color: $primary-background
    border-radius: 28px
    font-size: 18px
    border: none
    cursor: pointer
    padding: 10px
#up
  position: absolute
  display: flex
  justify-content: right
  padding: 2%
  button
    background-color: $secondary
    border-radius: 28px
    font-size: 18px
    border: none
    cursor: pointer
    padding: 10px
#drawer
  background-color: $secondary
