<section class="page" id="page-accueil">
  <div id="container">
    <h2 id="trainweb">TRAINWEB</h2>
    <h3 id="slogan">Votre nouveau centre de formation</h3>
    <div id="recherche">
      <input placeholder="Rechercher une formation ...">
      <button>
        <span nz-icon nzType="search" nzTheme="outline"></span>
      </button>
    </div>



    <!--
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    -->

  </div>
  <div id="icons">
    <button>
      <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>
    </button>
    <button>
      <span nz-icon nzType="filter" nzTheme="outline"></span>
    </button>
  </div>


    <tw-formation-preview-list></tw-formation-preview-list>
</section>
