<section class="page" id="page-accueil">
  <div id="container">
    <h2 id="trainweb">TRAINWEB</h2>
    <h3 id="slogan">Votre nouveau centre de formation</h3>
  </div>
  <div id="filters">
    <div id="recherche">
      <input placeholder="Rechercher une formation ...">
      <button>
        <span nz-icon nzType="search" nzTheme="outline"></span>
      </button>
    </div>
    <div id="icons">
      <button>
        <ng-container *ngIf="isAsc; else desc">
          <span (click)="sortList()" nz-icon nzType="sort-ascending" nzTheme="outline"></span>
        </ng-container>
        <ng-template #desc>
          <span (click)="isAsc = true;" nz-icon nzType="sort-descending" nzTheme="outline"></span>
        </ng-template>
      </button>
      <button>
        <span nz-icon nzType="filter" nzTheme="outline"></span>
      </button>
    </div>
  </div>
  <tw-formation-preview-list></tw-formation-preview-list>
  <div id="up">
    <button>
      <a href="#icons"><span nz-icon nzType="up" nzTheme="outline"></span></a>
    </button>
  </div>
</section>
