<div class="profile-page">
    <div class="profile-header">
      <h1 class="profil-title">Mon profil</h1>
    </div>
    <div class="profile-details">
      <div class="profile-picture">
        <span id="icon-profil" nz-icon nzType="user" nzTheme="outline"></span>
      </div>
      <div class="profile-info">
        <p>Role: <strong>{{this.user.role}}</strong></p>
        <p>Email: <strong>{{this.user.email}}</strong> </p>
        <p>Pseudo:<strong>{{this.user.name}}</strong></p>
      </div>
    </div>
  </div>
  