#navbar-a
    display : flex
    align-items: center
    #nav-logo 
        display: flex
        height: 60px
        padding: 0 10px 0 10px
        cursor: pointer
        img 
            margin : auto 0 auto 0
            height: 50%
            object-fit: contain
    #links-wrapper
        display: flex
        a 
            padding: 5px 10px 5px 10px
            margin: 0 5px 0 5px
            border-radius : 5px
            transition: all .2s ease-in-out
            user-select: none
            -webkit-user-drag: none 
        a:hover 
            background: #02020207
        a:focus
            background: #0202020c
            box-shadow: inset 0px 0px 0px 2px rgba(17, 17, 26, 0.18)
            -webkit-box-shadow: inset 0px 0px 0px 2px rgba(17, 17, 26, 0.18)
