@import "~src/styles.sass"
nz-list
    margin: 3%
    background-color: $tertiary
    border-radius: 70px
    nz-list-item
        padding: 40px
        nz-list-item-meta
          border-radius: 28px
          cursor: pointer
        span
          font-size: 25px
          color: #565656
          font-weight: 600
        p
          font-size: 17px
