<tw-navbar-b></tw-navbar-b>
<section class="page" id="page-sign">
    <form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
      class="login-form"
    >
    <h1>Se connecter</h1><br/><br/>
      <nz-form-item>
        <nz-form-control nzErrorTip="Rentre ton nom d'utilisateur">
          <nz-input-group nzPrefixIcon="user">
            <input
              id="email"
              type="text"
              nz-input
              formControlName="email"
              placeholder="Nom d'utilisateur"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Rentre ton mot de passe">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Mot de passe"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Se souvenir de moi</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Mot de passe oublié</a>
        </div>
      </div>
      <button nz-button nzType="primary" nzShape="round" type="submit">
        <span nz-icon nzType="download"></span>
        Connexion
      </button><br/><br/>
      Ou
      <a [routerLink]="['/sign/up']" class="login-switch">Inscription</a>
    </form>

</section>
<img id="wave-foot" [src]="wave" alt="TrainWeb Logo"/>
