<tw-navbar-b></tw-navbar-b>
<section class="page" id="page-sign" [ngSwitch]="pageMode">
    <form
      *ngSwitchCase="'in'"
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
    <h1>Se connecter</h1><br/><br/>
      <nz-form-item>
        <nz-form-control nzErrorTip="Rentre ton email">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Rentre ton mot de passe">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Mets ton mot de passe"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Se souvenir de moi</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Mot de passe oublié</a>
        </div>
      </div>
      <button nz-button nzType="primary" nzShape="round">
        <span nz-icon nzType="download"></span>
        Connexion
      </button><br/><br/>
      Ou
      <a [routerLink]="['/sign/up']" class="login-switch">inscription</a>
    </form>

    <form nz-form class="register" [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" *ngSwitchCase="'up'">
      <h1>Inscription</h1><br/><br/>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Rentre ton nom d'utilisateur">
          <input nz-input class="input-sign-in" id="nickname" formControlName="nickname" placeholder="Nom d'utilisateur" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Cette email n'est pas valide">
          <input nz-input class="input-sign-in" formControlName="email" id="email" placeholder="E-mail"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Rentre ton mot de passe">
          <input
            nz-input
            type="password"
            class="input-sign-in"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
            placeholder="Mot de passe"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
          <input nz-input class="input-sign-in" type="password" formControlName="checkPassword" id="checkPassword" placeholder="Confirmation mot de passe"/>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Confirme ton mot de passe</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Mots de passe incohérents
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Inscription</button>
        </nz-form-control>
      </nz-form-item>
      Ou
      <a [routerLink]="['/sign/in']" class="login-switch">Connexion</a>
    </form>
    <p *ngSwitchDefault>Erreur</p>
</section>
<img id="wave-foot" [src]="wave" alt="TrainWeb Logo"/>
