<section class="page" id="page-formation-create">
  <div class="toolbar" id="toolbar-formation-create">
    <input
      nz-input
      placeholder="Nom de la formation..."
      [(ngModel)]="creatingFormation.name"
      class="formation-name"
    />
    <div>
      <button nz-button class="add-chapter-button" (click)="onAddChapitre()">Ajouter un chapitre</button>
      <button nz-button class="create-description-button" (click)="onAddChapitre()">Créer Description</button>

    </div>


  </div>

  <div id="main-wrapper">
    <ul id="formation-create-menu" nz-menu nzMode="inline" [style.Width.%]="20">
      <li
        *ngFor="let chap of creatingFormation.chapitres"
        nz-submenu
        [nzTitle]="chap.name"
        nzIcon="book"
      >
        <ul>
          <li nz-menu-item nzDisabled class="add-exo-btn">
            <nz-button-group>
              <button
                nz-button
                nz-tooltip
                nzTooltipTitle="Ajout exercice"
                nzTooltipPlacement="top"
                (click)="onAddExo(chap)"
              >
                <i nz-icon nzType="plus" nzTheme="outline"></i>
              </button>
              <button
                nz-popconfirm
                nzPopconfirmTitle="Confirmer la suppression du chapitre ?"
                (nzOnConfirm)="onDeleteChapitre(chap)"
                nzPopconfirmPlacement="right"
                nzTooltipTitle="Suppresion du chapitre"
                nzTooltipPlacement="top"
                nz-button
                nz-tooltip
                nzDanger
              >
                <i nz-icon nzType="delete" nzTheme="fill"></i>
              </button>
            </nz-button-group>
          </li>

          <li
            *ngFor="let exo of chap.exos"
            nz-menu-item
            class="list-item-w-icon"
            (click)="onSelectExo(exo)"
          >
          <div>

            <ng-container
            *ngIf="!exo.editMode; else editMode"
            >
            <span> {{ exo.name }} </span>

              <button
              nz-button
              nzDanger
              nzGhost
              nz-tooltip
              nzTooltipTitle="Supprimer l'exercice"
              nzTooltipPlacement="left"
              nzType="dashed"
              (click)="onDeleteExo(exo, chap)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>

            <button
              nz-button

              nz-tooltip
              :nzTooltipTitle="renomer l'exercice"
              nzTooltipPlacement="right"
              nzType="default"
              (click)="onRenameExo(exo)"

            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
          </ng-container>
          <ng-template #editMode>
            <input type="text" [(ngModel)]="exo.tempName" nz-input
            class="rename-input" placeholder="Renomer :"
            />
            <button
            nz-button

            nz-tooltip
            :nzTooltipTitle="Anuler la modification"
            nzTooltipPlacement="left"
            nzType="default"
            (click)="onCancelRenameExo(exo)"

          >
            <span nz-icon nzType="close" nzTheme="outline"></span>
          </button>
            <button
            nz-button

            nz-tooltip
            :nzTooltipTitle="Renomer l'exercice"
            nzTooltipPlacement="right"
            nzType="default"
            (click)="onValideRenameExo(exo)"

          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
          </button>
          </ng-template>

          </div>
          </li>
        </ul>
      </li>
    </ul>
    <ng-container *ngIf="selectedExo">
      <tw-formation-content-panel
        [item]="selectedExo"
        [type]="'exo'"
        [mode]="'teacher'"
      ></tw-formation-content-panel>
    </ng-container>
    <div class="background">
      <button class="send-formation-button" (click)="onAddFormation()">Envoyer</button>
    </div>
  </div>
</section>
