#page-formation-create
    #formation-create-menu
        height : 100%
    .add-exo-btn
        cursor : pointer
        display : flex
        justify-content : center
        padding : 0!important
        color : black!important
    #main-wrapper
        display : flex
        width : clamp(100%,100%,100%)
        height : clamp(100%,100%,100%)
    .rename-input
        width: 50%
        margin-right: 10px
